*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@font-face {
  font-family: graphik;
  src: url(../../Graphik-Regular.ttf); }

body {
  font-family: graphik;
  font-weight: 400; }

.text--white {
  color: white !important; }

.text--bold {
  font-weight: bold !important; }

.text--bolder {
  font-weight: 900 !important; }

.text--uppercase {
  text-transform: uppercase; }

h1 {
  font-size: 7.4rem;
  line-height: 8.4rem; }

h2 {
  font-size: 4.8rem;
  line-height: 5.5rem; }

h3 {
  font-size: 2rem;
  line-height: 3rem; }

h4 {
  font-size: 2.8rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.5rem; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.m__b--small {
  margin-bottom: 2vh; }

.m__b--medium {
  margin-bottom: 4vh; }

.m__b--big {
  margin-bottom: 6vh; }

.m__b--huge {
  margin-bottom: 10vh; }

.navbar {
  height: 15vh;
  width: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      justify-content: space-between; } }
  .navbar__left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navbar__left {
        display: none; } }
  .navbar__center {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .navbar__right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navbar__right {
        width: 100%;
        height: 10vh;
        justify-content: flex-end; } }

.logo-box {
  height: 6rem;
  max-width: 100%;
  object-fit: fill; }
  .logo-box__img {
    height: 100%;
    width: auto; }

.navigation {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-items: flex-end;
      width: 4rem;
      height: 100%;
      position: relative; } }
  .navigation__label {
    height: 100%;
    width: 4rem;
    position: relative; }
    .navigation__label .line {
      width: 66.66666%;
      top: 50%;
      transform: translateY(-50%); }
      .navigation__label .line, .navigation__label .line::before, .navigation__label .line::after {
        position: absolute;
        background-color: white;
        display: none;
        content: '';
        height: 2px;
        right: 0; }
        @media only screen and (max-width: 56.25em) {
          .navigation__label .line, .navigation__label .line::before, .navigation__label .line::after {
            display: inline-block; } }
      .navigation__label .line::before {
        width: 150%;
        top: -1rem; }
      .navigation__label .line::after {
        width: 50%;
        top: 1rem; }

.description {
  width: 100%;
  color: #252B42; }
  .description--white {
    color: white; }
  .description--center {
    text-align: center; }
  .description--right {
    text-align: right; }
  .description--spaced > :not(:last-child) {
    margin-bottom: 2rem; }
  .description__title {
    font-weight: 700; }
  .description__subtitle {
    font-weight: 500; }
  @media only screen and (max-width: 56.25em) {
    .description--hider {
      display: none; } }

.socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .socials > :not(:last-child) {
    margin-right: 2rem; }
  .socials--spaced {
    justify-content: space-evenly; }
  .socials--start {
    justify-content: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .socials--start {
        justify-content: center; } }
  @media only screen and (max-width: 56.25em) {
    .socials--collapse {
      flex-direction: column;
      align-items: flex-start; }
      .socials--collapse > :not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  .socials--column {
    flex-direction: column; }
    .socials--column > :not(:last-child) {
      margin-bottom: 2rem;
      margin-right: 0; }
  .socials__icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .socials__icon > :not(:last-child) {
      margin-bottom: 2rem; }
    .socials__icon--primary svg {
      color: #2091f9 !important; }
    .socials__icon--limited {
      width: auto; }
    .socials__icon svg {
      height: 3rem;
      width: 3rem;
      color: white; }
    @media only screen and (max-width: 56.25em) {
      .socials__icon--torow {
        flex-direction: row;
        margin-right: 0;
        justify-content: flex-start; }
        .socials__icon--torow > :not(:last-child) {
          margin-bottom: 0;
          margin-right: 1rem; } }
    .socials__icon--row {
      width: 100%;
      flex-direction: row;
      margin-right: 0;
      justify-content: flex-start; }
      .socials__icon--row > :not(:last-child) {
        margin-bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .socials--hider {
      display: none; } }

.button {
  border-radius: 100px;
  padding: 2rem 2rem;
  color: currentColor;
  text-decoration: none;
  text-align: center; }
  .button--primary {
    background-color: #2091f9;
    color: white; }
  .button--white {
    background-color: white;
    color: #2091f9; }
  .button--large {
    font-size: 120%;
    padding: 1.5rem 3rem; }
  .button--long {
    width: 100%; }

.card {
  width: 40%;
  max-width: 30rem;
  padding: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .card--spaced > :not(:last-child) {
    margin-bottom: 2rem; }
  .card--left {
    align-items: flex-start; }
  .card--rounded {
    border-radius: 2rem;
    border: 2px solid #e8e8e8; }
  .card--primary {
    background-color: #2091f9;
    transform: scaleY(120%); }
    .card--primary * {
      transform: scaleY(95%); }
  .card--big-width {
    max-width: 45rem; }
  .card__icon {
    height: 4.5rem;
    width: 4.5rem;
    color: #2091f9; }
  .card__price {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .card__price > :not(:last-child) {
      padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .card {
      width: 40%;
      min-width: 25rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 60%;
      min-width: 25rem; } }

.img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  position: relative; }
  .img-container__img {
    width: 100%; }
    .img-container__img--account {
      height: 8rem;
      width: 8rem;
      object-fit: scale-down; }
    .img-container__img--small {
      max-width: 20rem; }
    .img-container__img--medium {
      max-width: 60rem; }
    .img-container__img--rounded {
      border-radius: 50%; }
  .img-container__player {
    height: 15vw;
    max-height: 15rem;
    width: 15vw;
    max-width: 15rem;
    border-radius: 50%;
    z-index: 1000;
    background-color: #2091f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .img-container__player-icon {
    color: white;
    height: 5vw;
    max-height: 5rem;
    width: 4vw;
    max-width: 4rem;
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); }
  @media only screen and (max-width: 56.25em) {
    .img-container--hider {
      display: none; } }

.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center; }
  .subscribe-form__button {
    width: 33%; }
  .subscribe-form__input {
    width: 66%;
    border: none; }
  @media only screen and (max-width: 56.25em) {
    .subscribe-form--hider {
      display: none; } }

.input {
  width: 100%;
  padding: 2rem 2rem;
  background-color: #f5f5f5;
  border: 2px solid #e8e8e8;
  border-radius: 100px; }
  .input--primary {
    background-color: #2091f9; }
  .input--large {
    padding: 2rem 5rem; }
  .input--squared {
    border-radius: 0; }
  .input--long {
    max-width: 100%;
    min-width: 100%;
    min-height: 20vh;
    max-height: 30vh; }

.logos-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .logos-row > :not(:last-child) {
    margin-right: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .logos-row {
      flex-direction: column; }
      .logos-row > :not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem; } }
  .logos-row__logo {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .logos-row__logo > :not(:last-child) {
      margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .logos-row--hider {
      display: none; } }

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center; }
  .list--column {
    flex-direction: column;
    align-items: flex-start; }
    .list--column li {
      color: #252B42;
      margin-right: 0; }
      .list--column li:not(:last-child) {
        margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .list--column {
        align-items: center; } }
  .list--row {
    margin-right: 2vw; }
    .list--row li {
      color: #252B42; }
      .list--row li:not(:last-child) {
        margin-right: 2vw; }
  .list--white li {
    color: white; }

.location {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .location > :not(:last-child) {
    margin-bottom: 2rem; }
  .location__map {
    width: 60%; }
  .location__socials {
    width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .location {
      width: 90%; } }

.hero {
  height: 95vh;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/header_background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 0% 80%, 50% 100%, 100% 80%, 100% 0%); }
  @media only screen and (max-width: 75em) {
    .hero {
      clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%); } }
  .hero__info {
    padding: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    .hero__info--ordered {
      order: -1; }
    @media only screen and (max-width: 56.25em) {
      .hero__info {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .hero__info {
        padding: 0;
        margin-top: 5vh; } }

.features {
  width: 100%;
  min-height: 75vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center; }
  .features__info {
    padding: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    .features__info--ordered {
      order: -1; }
    @media only screen and (max-width: 56.25em) {
      .features__info {
        width: 80%; } }
  .features__cards {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    order: 2; }
    .features__cards--spaced > :not(:last-child) {
      margin-bottom: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .features__cards {
        width: 90%;
        flex-direction: column;
        align-items: center; } }
  .features__video {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 60%;
    order: 3; }
    @media only screen and (max-width: 75em) {
      .features__video {
        width: 90%; } }
    @media only screen and (min-width: 112.5em) {
      .features__video {
        width: 75%; } }
    @media only screen and (max-width: 56.25em) {
      .features__video {
        order: 1; } }

.organize {
  width: 60%;
  min-height: 75vh;
  padding: 10rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .organize {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .organize {
      flex-direction: column; }
      .organize *:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (min-width: 112.5em) {
    .organize {
      width: 80%; } }
  .organize__info {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    padding-left: 6rem; }
    .organize__info *:not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .organize__info {
        width: 100%;
        align-items: center;
        margin-bottom: 2rem;
        padding-left: 0; }
        .organize__info * {
          text-align: center; } }
  .organize__img-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .organize__img-container {
        width: 80%; } }

.newsletter {
  width: 60%;
  min-height: 75vh;
  padding: 10rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .newsletter {
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .newsletter {
      flex-direction: column; }
      .newsletter > :not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (min-width: 112.5em) {
    .newsletter {
      width: 80%; } }
  .newsletter__info {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    order: 2; }
    .newsletter__info > :not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .newsletter__info {
        order: -1;
        width: 70%;
        align-items: center;
        margin-bottom: 2rem; }
        .newsletter__info * {
          text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .newsletter__info {
        width: 90%; } }
  .newsletter__img-container {
    order: 1;
    width: 60%;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .newsletter__img-container {
        margin-right: 0;
        width: 80%; } }
  .newsletter__subscribe {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .newsletter__subscribe--hider {
        display: none; } }
    .newsletter__subscribe--seeker {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .newsletter__subscribe--seeker {
          display: flex;
          flex-direction: column;
          flex-grow: 0;
          justify-content: center;
          align-items: flex-start; } }
    .newsletter__subscribe > :not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .newsletter__subscribe {
        width: 70%;
        align-items: center;
        margin-bottom: 2rem; }
        .newsletter__subscribe * {
          text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .newsletter__subscribe {
        width: 90%; } }

.partners {
  width: 100%;
  min-height: 75vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .partners > :not(:last-child) {
    margin-bottom: 4rem; }
  .partners__info {
    padding: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    .partners__info--ordered {
      order: -1; }
    @media only screen and (max-width: 56.25em) {
      .partners__info {
        width: 80%; } }
  .partners__logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .partners__logos > :not(:last-child) {
      margin-bottom: 4rem; }

.testimonials {
  width: 100%;
  min-height: 75vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .testimonials > :not(:last-child) {
    margin-bottom: 4rem; }
  .testimonials__info {
    padding: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    .testimonials__info--ordered {
      order: -1; }
    @media only screen and (max-width: 56.25em) {
      .testimonials__info {
        width: 80%; } }
  .testimonials__media {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .testimonials__media > :not(:last-child) {
      margin-right: 4rem; }

.pricing {
  width: 100%;
  min-height: 75vh;
  padding: 10rem 0;
  background-color: #252B42;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .pricing__info {
    padding: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    .pricing__info--ordered {
      order: -1; }
    @media only screen and (max-width: 56.25em) {
      .pricing__info {
        width: 80%; } }
  .pricing__cards {
    width: 90%;
    margin: 10rem auto;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .pricing__cards--spaced > :not(:last-child) {
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .pricing__cards {
        width: 90%;
        flex-direction: column;
        align-items: center; } }

.contact {
  width: 100%;
  min-height: 75vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center; }
  .contact__info {
    padding: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    .contact__info--ordered {
      order: -1; }
    @media only screen and (max-width: 56.25em) {
      .contact__info {
        width: 80%; } }
  .contact__data {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .contact__data {
        flex-direction: column-reverse; }
        .contact__data > * {
          margin-bottom: 4rem; } }

.footer {
  width: 100%;
  min-height: 30vh;
  padding: 10rem 0;
  background-color: #252B42;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-evenly;
  align-items: center; }
  .footer__links {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .footer__links > :not(::last-child) {
      margin-right: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__links {
        flex-direction: column;
        width: 80%; }
        .footer__links > :not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
  .footer__contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
    .footer__contact > :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact {
        width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column; }
      .footer > :not(:last-child) {
        margin-bottom: 4rem; } }
