*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@font-face {
  font-family: graphik;
  src: url(../../Graphik-Light.ttf); }

body {
  font-family: graphik;
  font-weight: 400;
  color: white; }

.text--dark {
  color: #252B42; }

h1 {
  font-weight: 700;
  font-size: 7.4rem; }

h2 {
  font-size: 4.8rem; }

h4 {
  font-size: 2.8rem;
  font-weight: 400; }

h5 {
  font-size: 2rem;
  font-weight: 400; }

h6 {
  font-size: 1.5rem;
  font-weight: 400; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.m__b--small {
  margin-bottom: 2vh; }

.m__b--medium {
  margin-bottom: 4vh; }

.m__b--big {
  margin-bottom: 6vh; }

.m__b--huge {
  margin-bottom: 10vh; }

.navbar {
  height: 20vh;
  width: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      justify-content: space-between; } }
  .navbar__left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navbar__left {
        display: none; } }
  .navbar__center {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .navbar__right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navbar__right {
        width: 100%;
        height: 10vh;
        justify-content: flex-end; } }

.logo-box {
  height: 6rem;
  max-width: 100%;
  object-fit: fill; }
  .logo-box__img {
    height: 100%;
    width: auto; }

.navbar-links {
  list-style: none;
  margin-right: 2vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center; }
  .navbar-links li a {
    text-decoration: none;
    color: white; }
  .navbar-links li:not(:last-child) {
    margin-right: 2vw; }

.navigation {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-items: flex-end;
      width: 4rem;
      height: 100%;
      position: relative; } }
  .navigation__checkbox:checked + {
    background-color: red; }
  .navigation__label {
    height: 100%;
    width: 6rem;
    position: relative; }
    .navigation__label .line {
      width: 66.66666%;
      top: 50%;
      transform: translateY(-50%); }
      .navigation__label .line, .navigation__label .line::before, .navigation__label .line::after {
        position: absolute;
        background-color: white;
        display: none;
        content: '';
        height: 2px;
        right: 0; }
        @media only screen and (max-width: 56.25em) {
          .navigation__label .line, .navigation__label .line::before, .navigation__label .line::after {
            display: inline-block; } }
      .navigation__label .line::before {
        width: 150%;
        top: -1rem; }
      .navigation__label .line::after {
        width: 50%;
        top: 1rem; }

.description {
  width: 100%; }
  .description__title {
    text-align: center;
    line-height: 8.4rem;
    font-weight: 700; }
  .description__subtitle {
    text-align: center;
    line-height: 4rem; }

@media only screen and (max-width: 56.25em) {
  .socials {
    display: none; } }

.socials__icon {
  height: 3rem;
  width: 3rem; }
  .socials__icon:not(:last-child) {
    margin-right: 2vw; }

.button {
  display: inline;
  border-radius: 100px;
  padding: 1rem 5rem;
  color: currentColor;
  text-decoration: none; }
  .button--primary {
    background-color: #2091f9; }

.hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/header_background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 0% 80%, 50% 100%, 100% 80%, 100% 0%); }
  @media only screen and (max-width: 75em) {
    .hero {
      clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%); } }
  .hero__header {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .hero__header {
        width: 80%; } }

.features {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center; }
