.newsletter {
	width: 60%;
	min-height: 80vh;
	padding: $huge 0;
	margin: 0 auto;
	@include flex(row, 0, center, center);

	@include respond(tab-land) {
		width: 90%;
	}

	@include respond(tab-port) {
		flex-direction: column;
		& > :not(:last-child) {
			margin-bottom: $big;
		}
	}

	@include respond(big-desktop) {
		width: 80%;
	}

	&__info {
		@include flex(column, 0, center, flex-start);
		width: 40%;
		order: 2;

		& > :not(:last-child) {
			margin-bottom: $medium;
		}

		@include respond(tab-port) {
			order: -1;
			width: 70%;
			align-items: center;
			margin-bottom: $small;

			& * {
				text-align: center;
			}
		}

		@include respond(phone) {
			width: 90%;
		}
	}

	&__img-container {
		order: 1;
		width: 60%;
		margin-right: $big;
		@include flex(column, 0, center, center);

		@include respond(tab-port) {
			margin-right: 0;
			width: 80%;
		}
	}

	&__subscribe {
		order: 2;
		@include hider;

		@include seeker (tab-port) {
			@include flex(column, 0, center, flex-start);
		}

		& > :not(:last-child) {
			margin-bottom: $medium;
		}

		@include respond(tab-port) {
			width: 70%;
			align-items: center;
			margin-bottom: $small;

			& * {
				text-align: center;
			}
		}

		@include respond(phone) {
			width: 90%;
		}
	}
}
