.pricing {
	width: 100%;
	min-height: 75vh;
	padding: $huge 0;

	background-color: $color-grey-dark;

	@include flex(column, 0, center, center);

	@include info-element;

	&__cards {
		width: 90%;
		margin: $huge auto;
		@include flex(row, 0, space-evenly, center);

		&--spaced {
			@include respond(tab-port) {
				& > :not(:last-child) {
					margin-bottom: $huge;
				}
			}
		}

		@include respond(tab-port) {
			width: 90%;
			flex-direction: column;
			align-items: center;
		}
	}
}
