.testimonials {
	width: 100%;
	min-height: 75vh;
	padding: $huge 0;

	@include flex(column, 0, center, center);

	& > :not(:last-child) {
		margin-bottom: $medium;
	}

	@include info-element;

	&__media {
		@include flex(row, 0, center, center);

		& > :not(:last-child) {
			margin-right: $medium;
		}
	}
}
