.button {
	border-radius: 100px;
	padding: 2rem 2rem;
	color: currentColor;
	text-decoration: none;
	text-align: center;

	&--primary {
		background-color: $color-primary;
		color: $color-white;
	}

	&--white {
		background-color: $color-white;
		color: $color-primary;
	}

	&--large {
		font-size: 120%;
		padding: 1.5rem 3rem;
	}

	&--long {
		width: 100%;
	}

}
