.card {
	width: 30%;
	padding: 3rem;
	background-color: $color-white;

	@include flex(column, 0, center, center);

	&--spaced {
		& * :not(:last-child) {
			margin-bottom: $small;
		}
	}

	&--limited {
		max-width: 30rem;
	}

	&--rounded {
		border-radius: 2rem;
	}

	&--primary {
		background-color: $color-primary;
		transform: scaleY(120%);
	}

	&__icon {
		height: 4.5rem;
		width: 4.5rem;
		color: $color-primary;
	}

	&__price {
		@include flex(row, 0, center, center);

		& > :not(:last-child) {
			padding: $tiny;
		}
	}

	@include respond(tab-port) {
		width: 60%;
	}

	@include respond(phone) {
		width: 90%;
	}
}
