.card {
	width: 40%;
	max-width: 30rem;
	padding: 3rem;
	background-color: $color-white;

	@include flex(column, 0, center, center);

	&--spaced {
		& > :not(:last-child) {
			margin-bottom: $tiny;
		}
	}

	&--left {
		align-items: flex-start;
	}

	&--rounded {
		border-radius: 2rem;
		border: 2px solid $color-grey;
	}

	&--primary {
		background-color: $color-primary;
		transform: scaleY(120%);
		& * {
			transform: scaleY(95%);
		}
	}

	&--big-width {
		max-width: 45rem;
	}

	&__icon {
		height: 4.5rem;
		width: 4.5rem;
		color: $color-primary;
	}

	&__price {
		@include flex(row, 0, center, center);

		& > :not(:last-child) {
			padding: $tiny;
		}
	}

	@include respond(tab-port) {
		width: 40%;
		min-width: 25rem;
	}

	@include respond(phone) {
		width: 60%;
		min-width: 25rem;
	}
}
