.description {
	width: 100%;
	color: $color-grey-dark;

	&--white {
		color: $color-white;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--spaced {
		& > :not(:last-child) {
			margin-bottom: $small;
		}
	}

	&__title {
		font-weight: 700;
	}

	&__subtitle {
		font-weight: 500;
	}

	@include hider(tab-port);
}
