.img-container {
	width: 100%;
	@include flex (column, 0, center, center);
	position: relative;

	&__img {
		width: 100%;

		&--account {
			height: 8rem;
			width: 8rem;
			object-fit: scale-down;
		}

		&--small {
			max-width: 20rem;
		}

		&--medium {
			max-width: 60rem;
		}

		&--rounded {
			border-radius: 50%;
		}
	}

	&__player {
		height: 15vw;
		max-height: 15rem;
		width: 15vw;
		max-width: 15rem;
		border-radius: 50%;
		z-index: 1000;
		background-color: $color-primary;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__player-icon {
		color: $color-white;
		height: 5vw;
		max-height: 5rem;
		width: 4vw;
		max-width: 4rem;
		z-index: 1001;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -50%);
	}

	@include hider(tab-port);
}
