.input {
	width: 100%;
	padding: 2rem 2rem;

	background-color: $color-grey-light;

	border: 2px solid $color-grey;
	border-radius: 100px;

	&--primary {
		background-color: $color-primary;
	}

	&--large {
		padding: 2rem 5rem;
	}

	&--squared {
		border-radius: 0;
	}

	&--long {
		max-width: 100%;
		min-height: 20vh;
		max-height: 30vh;
	}
}
