.input {
	display: inline;

	border-radius: 100px;
	padding: 2rem 2rem;
	background-color: #e8e8e8;

	&--primary {
		background-color: $color-primary;
	}

	&--large {
		padding: 2rem 5rem;
	}

	&:focus,
	&:focus-visible {
		border: none;
	}
}
