.input {
	display: inline;

	border-radius: 100px;
	padding: 2rem 2rem;
	background-color: $color-grey-light;
	border: 2px ;
	border-style: solid;
	border-color: $color-grey;

	&--primary {
		background-color: $color-primary;
	}

	&--large {
		padding: 2rem 5rem;
	}

	&--squared {
		border-radius: 0;
	}
}
