.list {
	list-style: none;
	width: 100%;

	@include flex(row, 1, flex-end, center);

	&--column {
		flex-direction: column;
		align-items: flex-start;

		li {
			color: $color-grey-dark;
			margin-right: 0;

			&:not(:last-child) {
				margin-bottom: $small;
			}
		}

		@include respond(tab-port) {
			align-items: center;
		}
	}

	&--row {
		margin-right: 2vw;

		li {
			color: $color-grey-dark;

			&:not(:last-child) {
				margin-right: 2vw;
			}
		}
	}

	&--white {
		li {
			color: $color-white;
		}
	}
}
