.location {
	width: 55%;

	@include flex(column, 0, center, center);

	& > :not(:last-child) {
		margin-bottom: $small;
	}

	&__map {
		width: 75%;
	}

	&__socials {
		width: 100%;
		background-color: $color-primary;
	}
}
