.navbar {
	height: 20vh;

	@include flex(row, 1, center, center);
	margin-bottom: 5vw;

    &__left {
        @include flex(row, 1, flex-end, center);
		max-width: 40%;
	}

    &__center {
        @include flex(row, 0, center, center);
		width: auto;
    }

	&-links {
		list-style: none;
		margin-right: 2vw;
		width: 100%;

		@include flex(row, 1, flex-end, center);

		li {
			
			a {
				text-decoration: none;
				color: $color-white;
			}

			&:not(:last-child) {
				margin-right: 2vw;
			}
		}
	}

    &__right {
        @include flex(row, 1, center, center);
		max-width: 40%;
    }

	&__icon {
		height: 3rem;
		width: 3rem;
		
		&:not(:last-child) {
			margin-right: 2vw;
		}
	}
}

.logo {
		
	&__box {
		height: $big;
		max-width: 100%;
		object-fit: fill;

		&--img {
			height: 100%;
			width: auto;
			
		}
	}
	
}
