.navbar {
	height: 15vh;
	width: 100%;
	padding: 5vh;

	@include flex(row, 0, center, center);

	@include respond(tab-port) {
		justify-content: space-between;
	}

	&__left {
		@include flex(row, 1, flex-end, center);
		width: 40%;
		height: 100%;

		@include respond(tab-port) {
			display: none;
		}
	}

	&__center {
		@include flex(row, 0, center, center);
		height: 100%
	}

	&__right {
		@include flex(row, 1, center, center);
		width: 40%;
		height: 100%;

		@include respond(tab-port) {
			width: 100%;
			height: 10vh;
			justify-content: flex-end;
		}
	}
}

.logo-box {
	height: $big;
	max-width: 100%;
	object-fit: fill;

	&__img {
		height: 100%;
		width: auto;
	}
}
