.socials {
	width: 100%;

	@include flex(row, 0, center, center);

	& > :not(:last-child) {
		margin-right: $small;
	}

	&--spaced {
		justify-content: space-evenly;
	}

	&--start {
		justify-content: flex-start;

		@include respond(tab-port) {
			justify-content: center;
		}
	}

	&--collapse {
		@include respond(tab-port) {
			flex-direction: column;
			align-items: flex-start;

			& > :not(:last-child) {
				margin-right: 0;
				margin-bottom: $small;
			}
		}
	}

	&--column {
		flex-direction: column;

		& > :not(:last-child) {
			margin-bottom: $small;
			margin-right: 0;
		}
	}

	&__icon {
		width: 100%;

		@include flex(column, 0, center, center);

		& > :not(:last-child) {
			margin-bottom: $small;
		}

		&--primary {
			& svg {
				color: $color-primary !important;
			}
		}

		&--limited {
			width: auto;
		}

		& svg {
			height: 3rem;
			width: 3rem;
			color: $color-white;
		}

		&--torow {
			@include respond(tab-port) {
				flex-direction: row;
				margin-right: 0;
				justify-content: flex-start;

				& > :not(:last-child) {
					margin-bottom: 0;
					margin-right: $tiny;
				}
			}
		}

		&--row {
			width: 100%;
			flex-direction: row;
			margin-right: 0;
			justify-content: flex-start;

			& > :not(:last-child) {
				margin-bottom: 0;
			}
		}
	}

	@include hider(tab-port);
}
