.text {
    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}

.m {
	&__b {
		&--small {
			margin-bottom: 2vh;
		}
		&--medium {
			margin-bottom: 4vh;
		}
		&--big {
			margin-bottom: 6vh;
		}
		&--huge {
			margin-bottom: 10vh;
		}
	}
}

//$values: $tiny, $small, $medium, $big, $huge; // 1rem, 2rem, 4rem, 8rem, 10rem
//$space_names: tiny, small, medium, big, huge;
//$sides: (top, bottom, left, right);
//
//@for $i from 1 through 5 {
//    @each $space_name in $space_names {
//        .mar-#{$space_name} {
//            margin: nth($values, $i);
//        }
//
//        @each $side in $sides {
//            .mar-#{$side}-#{$space_name} {
//                margin-#{$side}: nth($values, $i);
//            }
//        }
//    }
//}
